@model Game
@{
    ViewData["Title"] = "Blackjack game";
}


<header style="background-color:cornflowerblue; padding-bottom:8px">
    <nav class="nav.navbar center bg">
        <h3 style="text-align:center"><vc:winnings-display></vc:winnings-display></h3>
        <div class="custom-control-inline">
            <action action="Deal" is-disabled="@(!Model.NeedsDeal)" />
            <action action="Hit" is-disabled="@(Model.NeedsDeal)" />
            <action action="Stand" is-disabled="@(Model.NeedsDeal)" />
        </div>
    </nav>
</header>

<br/>
<h3 my-dealer="@Model.dealer"></h3>
<vc:hand-display hand="@Model.dealer.hand"></vc:hand-display>

<h3 my-player="@Model.player"></h3>
<vc:hand-display hand="@Model.player.hand"></vc:hand-display>

